body{
    text-align:center;
}

h1{
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

input{
    margin: 0 auto;
    height: 60px;
    width: 25%;
    border-radius: 10px;
    border: 3px solid #eaeaea;
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 20px;
}

.wifi{
    position: absolute;
    left:59.5%;
    top: 25.7%;
    font-size: 30px;
    cursor: pointer;
    color:#bbbbbb;
}

input+p{
    display:none;
    height:0;
    text-align:center;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}

input:focus {
    outline: none;
}

input.valid{
    border-color:#36cc36;
}

input.valid:focus{
    outline: none;
}

input.invalid{
    border-color:orange;
}

input.invalid:focus{
    outline: none;
}

input.invalid + p{
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    color:orange;
}
